<h1>Alta de usuario</h1>
<form class="api/user/form" action="index.html" method="put">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="lastname" >
  <input type="text" name="age" >
  <input type="button"  value="Guardar">
</form>
