<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="jumbotron">
  <h1>Bootstrap Incluido</h1>
  <p>Bootstrap is the most popular HTML, CSS...</p>
</div>

<h1>Alta de usuario</h1>
<form action="/api/users/" method="post">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="lastname" >
  <input type="text" name="age" >
  <input type="submit"  value="Guardar">
</form>
